################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/helloworld/.vs/helloworld/FileContentIndex/d739bb04-0590-40f7-b663-940c843a19e2.vsidx
/helloworld/.vs/helloworld/FileContentIndex/3f0a22dc-b0f3-4f71-aaf3-9b16b0897f27.vsidx
/helloworld/.vs/helloworld/FileContentIndex/1d5e8432-2688-49cd-871d-bca47fc5c3d1.vsidx
