################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/helloworld/.vs/helloworld/FileContentIndex/d739bb04-0590-40f7-b663-940c843a19e2.vsidx
